body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input[type="text"], input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #eee;
}

.message {
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 15px;
}

/* Стили для Отчета */
.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.report-table th, .report-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.report-table th {
    background-color: #f2f2f2;
}

.profit {
    font-weight: bold;
    background-color: #d4edda;
}